#block_video_disk.absolute.full_height.full_width.centered_with_tweenmax.overflow_hidden
	#disk_hole.absolute.centered.layer_top
	.circular_mask.absolute.centered.layer_3.size_video
		//- .lds-dual-ring
		a(href="")#play-video-btn.layer_3.btn
			span.triangle
			span.txt
				| #{TRANSLATION.play_video[langage]}
			
	#disk.absolute.centered_with_tweenmax.layer_2.circular_mask.size_platine
		#platine.absolute.centered_with_tweenmax.layer_0.size_platine
			include ../../cleansvg/platine.svg
		
		#knob.absolute.centered.circular_mask.size_disk
			#mask_video.circular_mask.absolute.centered.layer_3.size_video
				video#player.video-js.absolute.centered( preload='true', loop='true', width='210', height='210'  poster='https://d2e3lhf7z9v1b2.cloudfront.net/favico.png')
					source(src='https://d2e3lhf7z9v1b2.cloudfront.net/25f500kfaststart.mp4', type='video/mp4')
			.lign_svg
				//- include ../../../public/image/lign.svg
			#marker.absolute.align_middle
				include ../../../public/image/marker.svg
			
			
			span#bg_disk.absolute.centered

			
