#disk.absolute.centered.layer_2.circular_mask.size_disk
	#knob.absolute.align_middle.full_height.full_width.circular_mask
		#marker.absolute.align_middle

#mask_video.circular_mask.absolute.centered.layer_1.size_video
	.lds-dual-ring
	video#player.video-js.absolute.centered(controls='none', preload='true', muted='true', loop='true', width='200', height='200')
		source(src='', type='video/mp4')
		
#disk_lign.absolute.centered.layer_0.circular_mask.size_disk
	include ../../image/lign.svg