#block_video_disk.absolute.full_height.full_width.centered.overflow_hidden
	#disk_hole.absolute.centered.layer_top
	.circular_mask.absolute.centered.layer_3.size_video
		//- .lds-dual-ring
		a(href="")#play-video-btn.layer_3.btn
			span.triangle
			span.txt
				| #{TRANSLATION.play_video[langage]}
			
	#disk.absolute.centered.layer_2.circular_mask.size_disk
		
		#knob.absolute.align_middle.full_height.full_width.circular_mask
			#mask_video.circular_mask.absolute.centered.layer_3.size_video
				video#player.video-js.absolute.centered(onloadedmetadata="console.log('onloadedmetadata'+window.isMobile);if(!window.isMobile()){ player_video = new module.player_video();}", preload='true', loop='true', width='200', height='200')
					source(src='https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/black_white_2.mp4', type='video/mp4')
			.lign_svg
				include ../../../public/image/lign.svg
			#marker.absolute.align_middle
				include ../../../public/image/marker.svg
			
			
			span#bg_disk.absolute.centered

			
