#block_video_disk.absolute.full_height.full_width.centered_with_tweenmax.overflow_hidden
	#disk_hole.absolute.centered.layer_top
	.circular_mask.absolute.centered.layer_3.size_video
		a(href="", title=TRANSLATION.play_video[langage])#play-video-btn.layer_3.btn
			span.triangle
			span.txt
				| #{TRANSLATION.play_video[langage]}
			
	#disk.absolute.centered_with_tweenmax.layer_2.circular_mask.size_platine
		#platine.absolute.centered_with_tweenmax.layer_0.size_platine
			img(src='https://d25xbwtykg1lvk.cloudfront.net/platine.svg', alt='platine')
		
		#knob.absolute.centered.circular_mask.size_disk
			#mask_video.circular_mask.absolute.centered.layer_3.size_video
				video#player.video-js.absolute.centered( preload='true', loop='true', width='210', height='210'  poster='https://d25xbwtykg1lvk.cloudfront.net/favico.png', playsinline)
					source(src='https://d25xbwtykg1lvk.cloudfront.net/25f500kfaststart.mp4', type='video/mp4')
			.lign_svg
				img(src='https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/lign_and_marker.svg', alt='disk')
			
			
			span#bg_disk.absolute.centered

			
