#marker
	display block
	width 10px
	height (($size_disk_small - $size_video_small) / 2)
	top 0
	background #000
	align_middle()
	@media $ipad
		height (($size_disk_medium - $size_video_medium) / 2)
		
	@media $medium_large
		height (($size_disk_large - $size_disk_large) / 2)
	

.circular_mask
	overflow hidden
	border-radius 50%

.size_video
	width $size_video_small
	height $size_video_small
	
	@media $ipad
		width $size_video_medium
		height $size_video_medium
		
	@media $large_screen
		width $size_video_large
		height $size_video_large
		
.size_disk
	width $size_disk_small
	height $size_disk_small
	
	@media $ipad
		width $size_disk_medium
		height $size_disk_medium
	@media $large_screen
		width $size_disk_large
		height $size_disk_large
	
	
#mask_video
	border 8px solid #000
	
#disk
	border 2px solid #000
	cursor url("wespeakhiphop/images/hand.png"), auto;
	
#disk_lign
	background $yellow
	
