.video-container.layer_1.hidden.with_btn_skip.quatre_tier
	#playerYT
	#warp_custom_btn
		.skip_intro.layer_2.btn.round_btn
			| #{TRANSLATION.skip_intro[langage]}
		.myfullscreen.hide
			#fs
				include ../../../public/image/fullscreen.svg
			#fsactif
				include ../../../public/image/fullscreen_actif.svg
		
	