.video-container
	height 0
	width 100%
	max-width 178vh
	center()
	padding-bottom 56.25%
	
	&.quatre_tier
		padding-bottom 70%

	.myfullscreen
		z-index 10
		right 10px
		bottom 0
		position absolute
		width 25px
		transition .4s bottom ease   
		svg
			width 25px
			height 25px