.tuto.absolute.full_height_minus_footer.full_height_minus_footer_minus_header_mobile.layer_top.mainwidth
	.warp_tuto.absolute.full_width.full_height

		.content.centered
			.txt
				| !{TRANSLATION.txt_tuto[langage]}
			.round_btn.btn.yellow_btn.btn_get_it
				| #{TRANSLATION.btn_tuto[langage]}
			
			.fleche
				include ../../../public/image/lign_tuto.svg 

			.hand
				img(src="https://d25xbwtykg1lvk.cloudfront.net/hand.png", alt='vinyl spiner')

	.shield.full_height.full_width.absolute
