.tuto
	@media $desktop
		width calc(100% - 300px)
		margin-left 300px
	
	.warp_tuto
		text-align center
		@media $desktop
			width 100%
			
		.txt
			color $yellow
			text-transform none	
			
		.content
			width 90%
			@media $desktop
				width auto
		
	.shield
		opacity .8
		width 100%
		height 100%
		background #000	
		top 0
		left 0
		z-index -1
	
	.fleche
		width 80px
		left 32%
		position absolute
		margin-bottom 30px
		@media $ipad
			left 12%
			width 130px
		
	.btn_get_it
		display inline-block
		padding 0 20px
		margin 15px
		
	.hand
		position absolute
		left 15%
		top 130px
		@media $ipad
			left 0px
			