 @keyframes lds-dual-ring{
    0%{
        transform rotate(0deg)
    }
    100%{
        transform rotate(360deg)
    }
}
@keyframes lds-dual-ring-1{
    0%{
        transform rotate(360deg)
    }
    100%{
        transform rotate(0deg)
    }
}

@keyframes lds-dual-ring-2{
    0%{
        transform rotate(180deg)
    }
    100%{
        transform rotate(540deg)
    }
}

.demi_cercle
    content " "
    display block
    width calc(100% - 200px)
    height calc(100% - 200px)
    margin 0
    border-radius 50%
    border 100px solid #000
    border-color transparent transparent  #ffce00  #ffce00
    animation-name lds-dual-ring 
    animation-duration 1.2s 
    animation-iteration-count infinite
    center()
    
    .no_spinner &
        animation none
        display none    
    
.ring
    position absolute
    center()
    
    &:before
        @extend .demi_cercle
        top 0
        left 0
    
    &:after
        top 0
        left 0
        @extend .demi_cercle
        border-color transparent transparent  #fff  #fff
        animation-name lds-dual-ring-1 
        .no_spinner &
            animation none
            display none  
    
.lds-dual-ring
    width 100vw
    height 100vw
    display none
    center()
    margin-bottom 300px
    
    .ring_1
        width 100%
        height 100%
    
    .ring_2
        width 80%
        height 80%
        &:before
            animation-name lds-dual-ring-2
            animation-timing-function linear 
            .no_spinner &
                animation none
                display none  
    .ring_3
        width 70%
        height 70%
        &:after
            animation-name lds-dual-ring-2
            animation-timing-function linear 
            .no_spinner &
                animation none
                display none  
                
            
    .ring_black
        background #000
        border-radius 50%
        width 100vw
        height 100vw
        center()
        z-index 10
