/* HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
html {
  color: #000;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  background-color: #f0f2da;
}
body #main {
  background: #f0f2da;
  background-color: #f0f2da;
}
@font-face {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  src: url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Gotham-Book.woff2") format("woff2"), url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Gotham-Book.woff") format("woff");
}
@font-face {
  font-family: Gotham;
  font-style: normal;
  font-weight: 700;
  src: url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Gotham-Bold.woff2") format("woff2"), url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Gotham-Bold.woff") format("woff");
}
@font-face {
  font-family: Gotham;
  font-style: normal;
  font-weight: 900;
  src: url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Gotham-Black.woff2") format("woff2"), url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Gotham-Black.woff") format("woff");
}
@font-face {
  font-family: Gotham;
  font-style: normal;
  font-weight: 100;
  src: url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Gotham-Light.woff2") format("woff2"), url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Gotham-Light.woff") format("woff");
}
@font-face {
  font-family: Knockout;
  font-style: normal;
  font-weight: normal;
  src: url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Knockout-HTF70-FullWelterwt.woff2") format("woff2"), url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Knockout-HTF70-FullWelterwt.woff") format("woff");
}
@font-face {
  font-family: Knockout;
  font-style: normal;
  font-weight: 100;
  src: url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Knockout-HTF28-JuniorFeatherwt.woff2") format("woff2"), url("https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/Knockout-HTF28-JuniorFeatherwt.woff") format("woff");
}
.loader-bar {
  height: 0px;
  width: 100%;
  transition: all 1s ease;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.loader-bar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #7a0307;
  opacity: 1;
}
.loader-bar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  opacity: 1;
}
.loader-bar.show-progress {
  height: 2px;
}
.loader-bar.show-progress:before {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: makeitgrow;
}
@-moz-keyframes makeitgrow {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 100%;
    left: 100%;
  }
}
@-webkit-keyframes makeitgrow {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 100%;
    left: 100%;
  }
}
@-o-keyframes makeitgrow {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 100%;
    left: 100%;
  }
}
@keyframes makeitgrow {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 100%;
    left: 100%;
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  -ms-text-size-adjust: 100% /* 2 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block /* 1 */;
  vertical-align: baseline /* 2 */;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit /* 1 */;
  font: inherit /* 2 */;
  margin: 0 /* 3 */;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button /* 2 */;
  cursor: pointer /* 3 */;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  box-sizing: content-box /* 2 */;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0 /* 1 */;
  padding: 0 /* 2 */;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative;
  overflow: hidden;
}
body {
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
a {
  color: #000;
  text-decoration: none;
  transition: color;
  transition-duration: 0.4s;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}
.hasHover a:hover {
  color: #000;
}
a.normal {
  color: #232323;
  text-decoration: underline;
}
html,
body {
  height: 100%;
}
p {
  word-wrap: break-word;
}
p:empty {
  display: none;
}
.opacity_0 {
  opacity: 0;
}
.hide {
  display: none !important;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered_with_tweenmax {
  top: 50%;
  left: 50%;
}
.btn {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.triangle {
  display: block;
  width: 0;
  height: 0;
  background: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #fff;
  width: 10px;
  left: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.triangle.small {
  width: 0;
  height: 0;
  background: 0;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent #fff;
}
.plus {
  left: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.plus:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 8px;
  background: #fff;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
}
.plus:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 2px;
  background: #fff;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.round_btn {
  border-radius: 10px;
  line-height: 20px;
  height: 20px;
}
@media screen and (orientation: landscape) {
  .round_btn {
    border-radius: 15px;
    line-height: 30px;
    height: 30px;
  }
}
.yellow_btn {
  color: #000;
  background: #ffce00;
}
.white_btn {
  color: #000;
  background: #fff;
}
.grey_btn {
  color: #fff;
  background: #333;
}
.full_width {
  width: 100%;
}
.full_height {
  height: 100%;
}
.full_height_minus_footer_minus_header_mobile {
  transition: height 0.5s ease-in-out;
  height: calc(100% - 40px - 20vh);
}
@media screen and (orientation: landscape) {
  .full_height_minus_footer_minus_header_mobile {
    top: 0;
    height: calc(100% - 40px);
  }
}
.layer_bottom {
  z-index: -1;
}
.layer_0 {
  z-index: 0;
}
.layer_1 {
  z-index: 1;
}
.layer_2 {
  z-index: 2;
}
.layer_3 {
  z-index: 3;
}
.layer_4 {
  z-index: 4;
}
.layer_5 {
  z-index: 5;
}
.layer_top {
  z-index: 10;
}
.layer_top_plus {
  z-index: 11;
}
.overflow_hidden {
  overflow: hidden;
}
@media screen and (orientation: landscape) {
  .short_text {
    display: none !important;
  }
}
.long_text {
  display: none !important;
}
@media screen and (orientation: landscape) {
  .long_text {
    display: block !important;
  }
}
.site {
  position: relative;
  width: 100%;
  height: 100%;
}
#mask_shield {
  background: #000;
  top: 0;
  left: 0;
  z-index: 100;
}
#facea,
#faceb {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#block_video_disk {
  border-radius: 50%;
}
#mouse_over_bg {
  opacity: 0;
  top: 0;
  left: 0;
  background: #f00;
}
.hidden {
  visibility: hidden;
}
.trans {
  opacity: 0;
}
body,
html {
  background: #f0f2da;
  background-color: #f0f2da;
}
@media screen and (orientation: landscape) {
  #main {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
}
@media screen and (min-width: 70em) and (orientation: landscape) {
  #main {
    width: calc(100% - 370px);
    margin-left: 370px;
  }
}
#left_col {
  height: 20vh;
}
@media screen and (orientation: landscape) {
  #left_col {
    width: 300px;
    height: calc(100% - 40px);
    background: #ffce00;
    position: absolute;
  }
}
@media screen and (min-width: 70em) and (orientation: landscape) {
  #left_col {
    width: 370px;
    height: calc(100% - 40px);
    background: #ffce00;
    position: absolute;
  }
}
.logo-black-st0 {
  fill: #000;
}
.logo-black-st1 {
  fill: none;
  stroke: #fff;
  stroke-width: 28;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}
.logo-black-st2 {
  fill: none;
  stroke: #fff;
  stroke-width: 21;
  stroke-miterlimit: 10;
}
.logo-black-st3 {
  fill: none;
  stroke: #fff;
  stroke-width: 21;
  stroke-linecap: square;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}
#popin {
  position: absolute;
  top: 0;
  left: 0;
}
#popin #artist_info {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#popin #artist_info .info {
  margin: 20px 0;
}
#popin .logo_komet {
  width: 100px;
  height: auto;
}
#popin .intro_page {
  color: #fff;
  text-align: center;
  width: 80%;
  max-width: 240px;
}
#popin .intro_page .btn {
  margin-left: 20px;
}
#popin .intro_page .txt_intro {
  width: 100%;
  display: block;
  padding: 10px 0;
}
#popin .contentpopin {
  width: 100%;
  margin: auto;
  color: #fff;
}
@media screen and (orientation: landscape) {
  #popin .contentpopin {
    width: 61%;
  }
}
#popin .contentpopin .logo {
  padding: 15px 0;
}
#popin .contentpopin .logo svg {
  width: 100%;
  height: auto;
}
#popin .contentpopin .logo svg path,
#popin .contentpopin .logo svg polygon,
#popin .contentpopin .logo svg rect {
  fill: #fff;
}
#popin #credittxt,
#popin #abouttxt {
  color: #fff;
  text-transform: none;
}
#popin #credittxt .title,
#popin #abouttxt .title {
  font-weight: 900;
  color: #ffce00;
}
#popin #credittxt a,
#popin #abouttxt a,
#popin #credittxt a:hover,
#popin #abouttxt a:hover {
  text-decoration: none;
  color: #fff;
}
#popin .sharebtn {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
#popin .sharebtn .txt {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.15em;
}
#popin .sharebtn li {
  display: inline-block;
  width: 33%;
}
#popin .sharebtn li:first-child {
  text-align: left;
}
#popin .sharebtn li:last-child {
  text-align: right;
}
#popin .sharebtn a,
#popin .sharebtn svg {
  width: 50px;
  height: 50px;
}
#popin .sharesite {
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
#popin #close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 0;
  padding-right: 0;
}
#popin:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 1;
  z-index: -1;
}
#popin .block {
  width: 20%;
  height: 70%;
}
#popin .block.big {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 90%;
  height: 80%;
}
@media screen and (orientation: landscape) {
  #popin .block.big {
    width: 80%;
    height: 70%;
  }
}
@media screen and (min-width: 70em) and (orientation: landscape) {
  #popin .block.big {
    width: 50%;
    height: 70%;
  }
}
#popin .yellow,
#popin .white {
  width: 100%;
}
#popin .yellow {
  background: #ffce00;
}
#popin .white {
  background: #fff;
}
#popin .name {
  text-transform: uppercase;
  font-family: Knockout, Helvetica, Arial, sans-serif;
  font-size: 4em;
  line-height: 0.8em;
}
#popin .name,
#popin .date {
  color: #ffce00;
}
#popin .contry {
  color: #fff;
  line-height: 1;
}
#popin .date,
#popin .contry {
  font-size: 4em;
  font-family: Knockout, Helvetica, Arial, sans-serif;
  font-weight: 100;
}
#popin .date {
  padding-right: 20px;
}
#popin .bio {
  text-transform: none;
  color: #fff;
  margin-bottom: 20px;
}
#popin #back {
  background: #979797;
}
#popin .btn {
  display: inline-block;
  padding: 0 10px;
  width: auto;
  font-size: 0.8em;
  margin-right: 20px;
}
#popin .skip_intro {
  background: #ffce00;
  visibility: hidden;
  position: absolute;
  bottom: 15px;
  right: -10px;
  z-index: 10;
}
.demi_cercle,
.ring:before,
.ring:after {
  content: " ";
  display: block;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  margin: 0;
  border-radius: 50%;
  border: 100px solid #000;
  border-color: transparent transparent #ffce00 #ffce00;
  animation-name: lds-dual-ring;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.no_spinner .demi_cercle,
.no_spinner .ring:before,
.no_spinner .ring:after {
  animation: none;
  display: none;
}
.ring {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ring:before {
  top: 0;
  left: 0;
}
.ring:after {
  top: 0;
  left: 0;
  border-color: transparent transparent #fff #fff;
  animation-name: lds-dual-ring-1;
}
.no_spinner .ring:after {
  animation: none;
  display: none;
}
.lds-dual-ring {
  width: 100vw;
  height: 100vw;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 300px;
}
.lds-dual-ring .ring_1 {
  width: 100%;
  height: 100%;
}
.lds-dual-ring .ring_2 {
  width: 80%;
  height: 80%;
}
.lds-dual-ring .ring_2:before {
  animation-name: lds-dual-ring-2;
  animation-timing-function: linear;
}
.no_spinner .lds-dual-ring .ring_2:before {
  animation: none;
  display: none;
}
.lds-dual-ring .ring_3 {
  width: 70%;
  height: 70%;
}
.lds-dual-ring .ring_3:after {
  animation-name: lds-dual-ring-2;
  animation-timing-function: linear;
}
.no_spinner .lds-dual-ring .ring_3:after {
  animation: none;
  display: none;
}
.lds-dual-ring .ring_black {
  background: #000;
  border-radius: 50%;
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
@-moz-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes lds-dual-ring-1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes lds-dual-ring-1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes lds-dual-ring-1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes lds-dual-ring-1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes lds-dual-ring-2 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@-webkit-keyframes lds-dual-ring-2 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@-o-keyframes lds-dual-ring-2 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes lds-dual-ring-2 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
