p.title Ecriture et Réalisation : 
p Vina Hiridjee et David Boisseaux-Chical

p.title Direction artistique et Graphisme
p Nicolas Dali
br
p.title Conception et Développement
p Romain Malauzat  Production

p.title Komet Prod
p www.kometprod.com

p.title   Tournage Images : David Boisseaux-Chical

p Journaliste : Vina Hiridjee

br

p Tournage La Place

p Images : David Boisseaux-Chical

p Journaliste : Ismaël Mereghetti

p Images Interview Dj Mathematics : Hicham Rami

p Images Interview End of the Game: Hashka

br 

p Rédaction Webdocumentaire

p Zoé Lamazou

p Montage Monteurs : David Boisseaux-Chical, Mathilde Babo

br 

p Etalonnage

p Jérémie Pujau

p  Montage son et mixage

p Marcel Dadalto 

p Musique Laurent Bardainne

br

p Sous-titrage

p Luana Santos

p Traduction

p Traducteur Anglais – Français : Sasha Lagrange Mentz, Hendrik Mentz, Balthazar Jungnell

br

p Traducteur Corée du Sud : Soy Kim

p Traducteur Indonésie/ Malaisie: Wee Chyn

p Traducteur Philippines : Kriztel Lorbes

br

p Traducteur Maroc : Abdellatif Bachar et Jihane Kéjairi Schott

br

p Traducteur Sénégal : Djibril Marone

br 

p Traducteur Cambodge : Hiep Chan Vicheth

br 

p Traducteur Thaïlande : Pongsatorn Dechanupav

br

p Traducteur Guinée-Conakry : Master G

br
br
br 

p Remerciements

p Aris Koukoulis, Magalie Loony, Sarah Leduc, Jessica Nay, Palmyre Badinier, Sabrina Hiridjee, François Langella, Benjamin Fernandez, Armel Parisot, Igor Ochronowicz, Régis Cazanave, Martine Chicalski, Sylvain Dumaine, Dimitri Chabrol, Karoline Hoeppner, Sarah Chiang, Jules Salters, Loubna Fahmi.

p Un Big Up à

p  Betino’s record shop, 32 Rue Saint-Sébastien, 75011 Paris

p http://www.betinos.com/

br 

p Avec la participation du Centre National de la Cinématographie et de l'image animée - Nouveaux média

p Avec le soutien de La Place Jean-Marc Mougeot Marina Gentle

p Et de Sennheiser

p Magdalena Bojanowski

br 

p MOUV’

p Bruno Laforestrie

br

p COURRIER INTERNATIONAL Claire Carrard Carolin Lohrenz 2018 © KOMET 