p.title
	| #{TRANSLATION.a_propos[langage]}
			
b.uppercase
	|Peace, Love, Unity and Having fun! 
p
	|The message from the pioneer Afrika Bambaataa, founder of the New York peace movement Zulu Nation, colonized the Bronx in the 1970s, going against the trend of gang violence. A new culture arose. An artistic manifesto and means of expression: Hip-Hop.
p
	|Forty-five years later, rap - its musical dimension - has taken the world by storm, becoming the most listened to music in the world. We now need to turn to Africa, Europe, the Middle East and Asia to find the original soul of the movement.
p
	|« Transforming negative energies into positive energies, awakening consciences. » The ambassadors of hip-hop from around the world have embraced the movement's original ideals: to work for a society of solidarity, equity and non-violence where people without ranks emerge from ghettos to invent a new, more open world where their voices can be heard.

p
	|Vina Hiridjee and David Boisseaux-Chical filmed for ten years, on five continents and in fifteen languages, before bringing together for "We Speak Hip Hop" the voices of twenty-eight committed artists. Their project, We Speak Hip Hop, crosses boundaries, bringing to light the differences and common values of these beat masters and virtuoso poets.
p
	|To wrap up their global tour, the directors of We Speak Hip-Hop teamed up with La Place, a unique Parisian Hip-Hop cultural center. In the heart of the French capital, they met emblematic actors of the European and US scene. Artists of the new generation, MCs and historical DJs revealed to Vina Hiridjee and David Boisseaux-Chical their relationship with the movement's memory, their doubts and hopes for the future of a vibrant culture.
b
	|WE SPEAK HIP HOP !