p.title
	| #{TRANSLATION.a_propos[langage]}

b.uppercase
	|Peace, love, unity and having fun ! 
p
	|Le message du pionnier afrika bambaataa, fondateur du mouvement pacifiste new yorkais zulu nation, colonise le bronx des années 1970, à contre courant de la violence des gangs. Une nouvelle culture est née. Son manifeste artistique et son mode d’expression : le hip-hop. 
p
	|Quarante cinq ans plus tard, le rap sa dimension musicale a pris la planète d’assaut en devenant la musique la plus écoutée au monde.<br/>
	|C’est vers l’Afrique, l’Europe, en Moyen-Orient et l’Asie qu’il faut à présent tendre l’oreille pour retrouver l’âme originelle du mouvement. 
p
	|« Transformer ses énergies négatives en énergies positives, réveiller les consciences. » Les ambassadeurs du hip-hop mondial ont repris à leur compte les idéaux originels du mouvement : oeuvrer pour une société solidaire, équitable, et non-violente où les sans-grades sortiraient des ghettos pour inventer un monde nouveau, plus ouvert, où leurs voix pourraient se faire entendre.
p
	|Vina Hiridjee et David Boisseaux-Chical ont tourné pendant dix ans, sur cinq continents et dans quinze langues, avant de réunir pour « We Speak Hip Hop » les voix de vingt-huit artistes engagés. Leur projet We Speak Hip Hop fait résonner par-delà les frontières les différences comme les valeurs communes de ces maîtres du beat et poètes virtuoses.
p
	|Pour clôturer leur tournée planétaire, les réalisateurs de We Speak Hip-Hop se sont associés avec La Place, centre culturel Hip-Hop parisien unique. Au coeur de la capitale française, ils ont rencontré des acteurs emblématiques de la scène européenne et US. Artistes de la nouvelle génération, MC’s et DJ’s historiques ont confié à Vina Hiridjee et David Boisseaux-Chical leur rapport à la mémoire du mouvement, leurs doutes et leurs espoirs pour l’avenir d’une culture bien vivante.

b
	|WE SPEAK HIP HOP !