.contentpopin
	.warp
		p.title
			|Contacts
		p
			|KOMET production
		p
			a(href="http://www.kometprod.com", target="_blank", title="kometprod"  rel='noopener')
				|www.kometprod.com
				
		include share-komet.pug