.warp
	p.title
		|Credits
	.warp_left
		p.subtitle
			| Script and direction
		p
			| Vina Hiridjee and David Boisseaux-Chical
		p.subtitle
			| Artistic direction and graphic design
		p
			| Nicolas Dali
		p.subtitle
			| Conception and development
		p
			| Romain Malauzat  
		p.subtitle
			| Production
		p
			| Komand Prod
			p.randour
				| www.komandprod.com
		p.subtitle
			| Translation
		p.randour
			| English/French: Sasha Lagrange Mentz and Balthazar Jungnell
		p.randour
			| Korean: Soy Kim
		p.randour
			| Indonesian/Malaysian: Wee Chyn
		p.randour
			| Tegalo: Kriztel Lorbes
		p.randour
			| Arabic (Moroccan dialect): Abdellatif Bachar and Jihane Kéjairi Schott
		p.randour
			| Wolof (Senegal): Djibril Marone
		p.randour
			| Khmer (Cambodia): Hiep Chan Vicheth
		p.randour
			| Thai: Pongsatorn Dechanupav
		p.randour
			| Fula (Guinea-Conakry): Masta G

	.warp_right
		p.subtitle
			| Shooting Africa, Middle-East, Asia
		p
			| Camera: David Boisseaux-Chical
		p.randour
			| Journalist: Vina Hiridjee
		p.subtitle
			| Shooting at La Place
		p
			| Camera: David Boisseaux-Chical
		p.randour
			| Journalist: Ismaël Mereghetti
		p.randour
			| Camera interview: DJ Mathematics: Hicham Rami
		p.randour
			| Camera interview: End of the Game: Hashka
		p.subtitle
			| Web-Documentary research and writing 
		p
			| Zoé Lamazou
		p.subtitle
			| Video editing
		p
			| Video editors:
			| David Boisseaux-Chical, Mathilde Babo

		p.subtitle
			| Color correction
		p
			| Jérémie Pujau 
		p.subtitle
			| Sound editing and mix
		p
			| Marcel Dadalto 
		p.subtitle
			| Music
		p
			| Laurent Bardainne

		p.subtitle
			| Subtitles
		p
			| Luana Santos
		
.warp
	p.title.spacer
		|Partenaires
	.warp_left
		p
			| With the participation of the Centre National de la Cinématographie et de l'image animée - Nouveaux media 
		p.spacer
			| With the support of La Place Jean-Marc Mougeot , Marina Gentle
		p.spacer
			| And Sennheiser Magdalena Bojanowski
		p.spacer
			| MOUV’ Bruno Laforestrie
		p.spacer
			| COURRIER INTERNATIONAL Claire Carrard, Carolin Lohrenz
	.warp_right
		ul.listlogo
			li
				a(href='https://www.cnc.fr/', target='_blank'  id='logocnc' title="CNC")
					img(src='https://d25xbwtykg1lvk.cloudfront.net/CNC_logo.svg', alt='CNC')
			li
				a(href='https://www.mouv.fr/', target='_blank' id='logomouv' title="le Mouv")
					img(src='https://d25xbwtykg1lvk.cloudfront.net/mouv.svg', alt='le Mouv')
			li
				a(href='http://laplace.paris/', target='_blank' id='logoplace'  title="La Place") 
					img(src='https://d25xbwtykg1lvk.cloudfront.net/laplace.png', alt='La Place')
			li
				a(href='https://www.courrierinternational.com/', target='_blank'  id='logocourrier'  title='courrier international')
					img(src='https://d25xbwtykg1lvk.cloudfront.net/courrier_international.png', alt='courrier international')
			li
				a(href='https://en-de.sennheiser.com/', target='_blank'  id='logosennheiser'  title='Sennheiser')
					img(src='https://d25xbwtykg1lvk.cloudfront.net/sennheiser-def.svg', alt='Sennheiser')

.warp
	p.title.spacer
		| Acknowledgements
	.warp_left
		p
			|Aris Koukoulis, Magalie Loony, Sarah Leduc, Jessica Nay, Palmyre Badinier, Sabrina Hiridjee, 
		p
			|François Langella, Benjamin Fernandez, Armel Parisot, Igor Ochronowicz, Régis Cazanave, Martine Chicalski,
		p
			|Sylvain Dumaine, Dimitri Chabrol, Karoline Hoeppner, Sarah Chiang, Jules Salters, Loubna Fahmi.
	.warp_right
		p
			| Bandino’s record shop, 32 Rue Saint-Sébastien, 75011 Paris 
		p
			| http://www.bandinos.com/

	.logokomet
		a(href='http://www.kometprod.com', target='_blank', title='Komet Production' )
			img(src='https://d2e3lhf7z9v1b2.cloudfront.nand/logo_komet.png', alt='Komet Production')
			|&copy; Komet Production


