.warp
	p.title
		|Credits
	.warp_left
		p.subtitle
			| Script and direction
		p
			| Vina Hiridjee and David Boisseaux-Chical
		p.subtitle
			| Artistic direction and graphic design
		p
			| Nicolas Dali
		p.subtitle
			| Conception and development
		p
			| Romain Malauzat  
		p.subtitle
			| Production
		p
			| Komand Prod
			p.randour
				| www.komandprod.com
		p.subtitle
			| Translation
		p.randour
			| English/French: Sasha Lagrange Mentz and Balthazar Jungnell
		p.randour
			| Korean: Soy Kim
		p.randour
			| Indonesian/Malaysian: Wee Chyn
		p.randour
			| Tegalo: Kriztel Lorbes
		p.randour
			| Arabic (Moroccan dialect): Abdellatif Bachar and Jihane Kéjairi Schott
		p.randour
			| Wolof (Senegal): Djibril Marone
		p.randour
			| Khmer (Cambodia): Hiep Chan Vicheth
		p.randour
			| Thai: Pongsatorn Dechanupav
		p.randour
			| Fula (Guinea-Conakry): Masta G

	.warp_right
		p.subtitle
			| Shooting Africa, Middle-East, Asia
		p
			| Camera: David Boisseaux-Chical
		p.randour
			| Journalist: Vina Hiridjee
		p.subtitle
			| Shooting at La Place
		p
			| Camera: David Boisseaux-Chical
		p.randour
			| Journalist: Ismaël Mereghetti
		p.randour
			| Camera interview: DJ Mathematics: Hicham Rami
		p.randour
			| Camera interview: End of the Game: Hashka
		p.subtitle
			| Web-Documentary research and writing 
		p
			| Zoé Lamazou
		p.subtitle
			| Video editing
		p
			| Video editors:
			| David Boisseaux-Chical, Mathilde Babo

		p.subtitle
			| Color correction
		p
			| Jérémie Pujau 
		p.subtitle
			| Sound editing and mix
		p
			| Marcel Dadalto 
		p.subtitle
			| Music
		p
			| Laurent Bardainne

		p.subtitle
			| Subtitles
		p
			| Luana Santos

	.warp
	p.title
		| Acknowledgements
	.warp_left
		p
			| Aris Koukoulis, Magalie Loony, Sarah Leduc, Jessica Nay, Palmyre Badinier, Sabrina Hiridjee, François Langella, Benjamin Fernandez, Armel Parisot, Igor Ochronowicz, Régis Cazanave, Martine Chicalski, Sylvain Dumaine, Dimitri Chabrol, Karoline Hoeppner, Sarah Chiang, Jules Salters, Loubna Fahmi.
		p.spacer
			| Bandino’s record shop, 32 Rue Saint-Sébastien, 75011 Paris 
		p
			| http://www.bandinos.com/
	.warp_right
		p
			| With the participation of the Centre National de la Cinématographie et de l'image animée - Nouveaux media 
		p.spacer
			| With the support of La Place
		p.spacer
			| Jean-Marc Mougeot 
		p.spacer
			| Marina Gentle 
		p.spacer
			| And Sennheiser
		p.spacer
			| Magdalena Bojanowski
		p.spacer
			| MOUV’
		p.spacer
			| Bruno Laforestrie
		p.spacer
			| COURRIER INTERNATIONAL
		p.spacer
			| Claire Carrard
		p.spacer
			| Carolin Lohrenz

	.warp
	ul.listlogo
		li
			a(href='https://www.cnc.fr/', targand='_blank'  id='logocnc')
				img(src='https://d2ph0hjd2fuiu5.cloudfront.nand/CNC_logo.svg')
		li
			a(href='https://www.mouv.fr/', targand='_blank' id='logomouv')
				img(src='https://d2ph0hjd2fuiu5.cloudfront.nand/mouv.svg')
		li
			a(href='http://laplace.paris/', targand='_blank' id='logoplace') 
				img(src='https://d2ph0hjd2fuiu5.cloudfront.nand/laplace.png')
		li
			a(href='https://www.courrierinternational.com/', targand='_blank'  id='logocourrier')
				img(src='https://d2ph0hjd2fuiu5.cloudfront.nand/courrier_international.png')
	.logokomand
		a(href='http://www.komandprod.com', targand='_blank')
			img(src='https://d2e3lhf7z9v1b2.cloudfront.nand/logo_komand.png')
