ul.sharebtn
	li
		a(href="mailto:office@kometprod.com" title="mail"  target="_self")
			img(src='https://d25xbwtykg1lvk.cloudfront.net/mail.svg', alt='mail')
	li
		a(href="https://vimeo.com/kometprod" title="Komet vimeo" target="_blank"  rel='noopener')
			img(src='https://d25xbwtykg1lvk.cloudfront.net/vimeo.svg', alt='vimeo')
	li
		a(href="https://www.facebook.com/Komet-Creative-Agency-753387388101547/?ref=aymt_homepage_panel" title="Komet prod facebook"  target="_blank"  rel='noopener')
			img(src='https://d25xbwtykg1lvk.cloudfront.net/facebook.svg', alt='facebook')

.logokomet
	a(href='http://www.kometprod.com', target='_blank', title='Komet Production'  rel='noopener')
		img(src='https://d25xbwtykg1lvk.cloudfront.net/logo_komet.png', alt='Komet Production')
