ul.sharebtn
	li
		a(href="mailto:office@kometprod.com" title="mail"  target="_self")
			svg(viewBox="0 0 50 50"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
				use(href='#logopartenaire-mail', x='0', y='0', width='50', height='50')
	li
		a(href="https://vimeo.com/kometprod" title="Komet vimeo" target="_blank"  rel='noopener')
			svg(viewBox="0 0 50 50"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
				use(href='#logopartenaire-vimeo', x='0', y='0', width='50', height='50')
	li
		a(href="https://www.facebook.com/Komet-Creative-Agency-753387388101547/?ref=aymt_homepage_panel" title="Komet prod facebook"  target="_blank"  rel='noopener')
			svg(viewBox="0 0 50 50"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
				use(href='#logopartenaire-facebook', x='0', y='0', width='50', height='50')

.logokomet
	a(href='http://www.kometprod.com', target='_blank', title='Komet Production'  rel='noopener')
		svg(viewBox="0 0 131 32"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
			use(href='#logopartenaire-logo_komet', x='0', y='0', width='131', height='32')
			
