ul.sharebtn
	li
		a(href="https://www.facebook.com/sharer/sharer.php?u="+pageurl+"&display=popup&ref=plugin&src=share_button" title="facebook share" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')")
			svg(viewBox="0 0 50 50"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
				use(href='#logopartenaire-facebook', x='0', y='0', width='50', height='50')
	li
		a(href="http://twitter.com/share?text="+txttwitter+"&url="+pageurl+"&hashtags=wespeakhiphop,hiphop" title="twitter share"  onclick="return !window.open(this.href, 'Twitter', 'width=640,height=580')")
			svg(viewBox="0 0 50 50"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
				use(href='#logopartenaire-tweeter', x='0', y='0', width='50', height='50')
	li
		a(href="mailto:?subject="+mailbody title="mail" )
			svg(viewBox="0 0 50 50"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
				use(href='#logopartenaire-mail', x='0', y='0', width='50', height='50')
	//- li
	//- 	a(href="mailto:?subject="+mailbody title="instagram" )
	//- 		svg(viewBox="0 0 50 50"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
	//- 			use(href='#insta', x='0', y='0', width='50', height='50')
