ul.sharebtn
	li
		a(href="https://www.facebook.com/sharer/sharer.php?u="+pageurl+"&display=popup&ref=plugin&src=share_button" title="facebook share" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')")
			img(src='https://d25xbwtykg1lvk.cloudfront.net/facebook.svg', alt='facebook')
	li
		a(href="http://twitter.com/share?text="+txttwitter+"&url="+pageurl+"&hashtags=wespeakhiphop,hiphop" title="twitter share"  onclick="return !window.open(this.href, 'Twitter', 'width=640,height=580')")
			img(src='https://d25xbwtykg1lvk.cloudfront.net/tweeter.svg', alt='tweeter')
	li
		a(href="mailto:?subject="+mailbody title="mail" )
			img(src='https://d25xbwtykg1lvk.cloudfront.net/mail.svg', alt='mail')
