ul.sharebtn
	li
		a(href="mailto:office@kometprod.com" title="mail"  target="_self")
			include ../../../public/image/mail.svg
	li
		a(href="https://vimeo.com/kometprod" title="Komet vimeo" target="_blank")
			include ../../../public/image/vimeo.svg
	li
		a(href="https://www.facebook.com/Komet-Creative-Agency-753387388101547/?ref=aymt_homepage_panel" title="Komet prod facebook"  target="_blank")
			include ../../../public/image/facebook.svg

.logokomet
	a(href='http://www.kometprod.com', target='_blank')
		img(src='https://d2e3lhf7z9v1b2.cloudfront.net/logo_komet.png')
