#popin
	position absolute
	top 0
	left 0
	// #logowhite
	// 	position relative
	// 	text-align center
	// 	padding 20px
	// 	svg
	// 		width 215px
	// 		height auto
		
	#artist_info
		max-height 100%
		overflow-y scroll
		overflow-x hidden
		.info
			margin 20px 0
				
	.logo_komet
		width 100px
		height auto
		
	.intro_page
		color #fff
		text-align center
		width 80%
		max-width 240px
		.btn_intro
			margin-top 20px
			a
				visibility hidden
				opacity 0
		.btn
			margin-left 20px
			
		.txt_intro
			width 100%
			display block
			padding 10px 0

	.contentpopin 
		width 100%
		margin auto
		color #ffffff
		@media $landscape
			width 61%
		
		.logo		
			padding 15px 0
			svg
				width 100%
				height auto 
				
				path
				polygon
				rect
					fill #ffffff

	#credittxt
	#abouttxt
		color #ffffff
		text-transform none
		
		.title
			font-weight 900
			color $yellow
			
		a
		a:hover
			text-decoration none
			color #ffffff
			

	.sharebtn
		list-style-type none
		margin 0
		padding 10px 0
		text-align center
		.txt
			width 100%
			text-align justify
			text-justify inter-word
			font-size 1.15em
		li
			display inline-block
			width 33%
			&:first-child
				text-align left
			&:last-child
				text-align right 
		a
		svg
			width 50px
			height 50px

	.sharesite
		text-align center
		border-top 1px solid #ffffff
		border-bottom 1px solid #ffffff
		padding 10px 0

	#close
		width 30px
		height 30px
		position absolute
		top 10px
		right 10px
		margin 5px
		padding 3px
		border 1px #fff solid
		border-radius 50%
		
		
	&:after
		pseudo_full( #000 , 1 )
		z-index -1
		
	.block
		width 20%
		height 70%
		
		&.big
			overflow-y scroll
			overflow-x hidden
			width 90%
			height 80%
			@media $landscape
				width 80%
				height 70%
			@media $landscape_desktop
				width 50%
				height 70%	

	.yellow
	.white
		width 100%	
	.yellow
		background $yellow
	.white
		background #FFF
		
	.name
		text-transform uppercase
		font-family $ft-family-secondary
		font-size 4em
		line-height .8em
	
	.name
	.date
		color $yellow
	
	.contry
		color #fff
		line-height 1

	.date
	.contry
		font-size 4em
		font-family $ft-family-secondary
		font-weight 100
	
	.date
		padding-right 20px
	
	.bio
		text-transform none
		color #fff
		margin-bottom 20px

	#back
		background $grey
		
	.btn
		display inline-block
		padding 0 10px
		width auto
		font-size .8em
		margin-right 20px
		
	.skip_intro
		background $yellow
		visibility hidden
		position absolute 
		bottom 15px
		right -10px
		z-index 10
		
