#popin
	position absolute
	top 0
	left 0
	#logowhite
		max-width 70%
		margin auto
	
		.logo-black-st0
			fill #FFFFFF
		.logo-black-st1
			fill none
			stroke #FFFFFF
			stroke-width 28
			stroke-linejoin bevel
			stroke-miterlimit 10
		.logo-black-st2
			fill none
			stroke #FFFFFF
			stroke-width 21
			stroke-miterlimit 10
		.logo-black-st3
			fill none
			stroke #FFFFFF
			stroke-width 21
			stroke-linecap square
			stroke-linejoin bevel
			stroke-miterlimit 10

	#artist_info
		max-height 100%
		overflow-y auto
		overflow-x hidden
		width calc( 100% - 40px)
		padding 20px
		align_middle()
		@media $landscape
			width 70%
			center()
		.info
			margin 20px 0
				
	.logo_komet
		width 100px
		height auto
		
		
	.intro_page
		color #fff
		text-align center
		width 80%
		max-width 240px
		.btn_intro
			margin-top 20px
			a
				visibility hidden
				opacity 0
		.btn
			margin-left 20px
			
		.txt_intro
			width 100%
			display block
			padding 10px 0

	.contentpopin 
		width 100%
		margin auto
		color #ffffff
		//@media $landscape
		//	width 61%
		
		.logo		
			padding 15px 0
			svg
				width 100%
				height auto 
				
				path
				polygon
				rect
					fill #ffffff

	#credittxt
	#abouttxt
	#contacttxt
		color #fefeff
		text-transform none
		text-align center
		font-weight 100
		font-family $ft-family-secondary
		font-size 1.2em
		width calc( 100% - 50px)
		max-width calc( 100% - 50px)
		padding 0 25px
		@media $landscape
			width calc( 100% - 100px)
			max-width calc( 100% - 100px)
			padding 0 50px
		
		&#abouttxt
			text-align justify
			text-justify inter-word
			.title
				font-size 1.5em
				
		&#abouttxt
			@media $landscape
				max-width 70%
			
			p:not(.title)
			b
				margin 1em 0
				font-size .75em
				font-family $ft-family-primary	
			
			.title
				padding-bottom 15px	


		&#contacttxt
			max-width 300px		
			font-family $ft-family-primary
			
			p
				padding 5px 0
			
			.logokomet
				width 70%
				padding-top 15px
				margin 0

		.title
			font-weight 900
			font-size 2.5em
			text-transform uppercase
			font-family $ft-family-secondary
		
		#credittxt
			.title
				font-weight normal
				font-size 1.35em
		a
		a:hover
			text-decoration none
			color #ffffff
			display block
			margin auto
			
		.warp_left
		.warp_right
			width calc( 50% - 10px)
			display inline-block
			vertical-align top
		.warp_left
			text-align right
			padding-right 10px
		.warp_right
			padding-left 10px
			text-align left
			
		.subtitle
			text-transform uppercase
			font-size 1.2em
			margin-top 10px
			margin-bottom 0
			color #fff
			
		.listlogo
			list-style none
			padding 0
			@media $large_portrait
				width 70%
			@media $landscape	
				width 70%
			li
				width 100%
				padding-bottom 20px
				display inline-block
				
				@media $large_portrait
					width calc(50% - 20px)
					margin 10px				
					padding 20px
					
				@media $landscape
					width calc( 50% - 60px)
					margin 0 10px
				
				a
					display block
					width 100%
					height 40px

					img
						height 100%
						
					
					
						
			#logocnc img
				height 30px
				width auto
						
		.logokomet
			margin auto
			display inline-block
			width 20%
			@media $landscape
				width calc( 15% - 60px)
				margin 30px
			a
				display block
				width 100%
				img
					width 100%
		
			
		p
			margin 0px
		
			&.spacer
				margin 10px 0
			
	.sharebtn
		list-style-type none
		margin auto
		max-width 200px
		padding 10px 0
		text-align center
		.txt
			width 100%
			text-align justify
			text-justify inter-word
			font-size 1.15em
		li
			display inline-block
			width 33%
			&:first-child
				text-align left
			&:last-child
				text-align right 
		a
		svg
		img
			width 50px
			height 50px

	.sharesite
		text-align center
		border-top 1px solid #ffffff
		border-bottom 1px solid #ffffff
		padding 10px 0

	.logosharesite
		width 200px
		img
			width 100%
			height auto

	#close
		width 30px
		height 30px
		position absolute
		top 10px
		right 10px
		margin 5px
		padding 3px
		border 2px #fff solid
		border-radius 50%
		span.cross
			display block
			center()
			transform rotate(45deg) translate(-50%,-50%)
			&:after
				pseudo_full(#fff, 1, 25px, 2px)
			&:before
				pseudo_full(#fff, 1, 2px, 25px)
			
			&:before
			&:after
				center()

		@media $mobile_landscape
			top 10px
			right 10px
		
		@media $landscape
			top 40px
			right 40px
			
		@media $large_portrait
			top 40px
			right 40px
			
		
		
	&:after
		pseudo_full( #000 , 1 )
		z-index -1
		
	&.greybg:after
		pseudo_full( #1d1d1b , 1 )
		
		
	.block
		width 20%
		height 70%
		
		&.big
			overflow-y auto
			overflow-x hidden
			width 90%
			max-height calc( 100% - 100px ) 
			height auto
			@media $landscape
				width 80%
				max-width 1000px
				// max-height calc( 100% - 100px ) 
				height auto
			@media $landscape_desktop
				width 80%
				max-width 1000px
				// max-height calc( 100% - 100px ) 
				height auto

	.yellow
	.white
		width 100%	
	.yellow
		background $yellow
	.white
		background #FFF
		
	.name
		text-transform uppercase
		font-family $ft-family-secondary
		font-size 4em
		line-height .8em
	
	.name
	.date
		color $yellow
	
	.contry
		color #fff
		line-height 1

	.date
	.contry
		font-size 4em
		font-family $ft-family-secondary
		font-weight 100
	
	.date
		padding-right 20px
	
	.bio
		text-transform none
		color #fff
		margin-bottom 20px

	#back
		background $grey
		
	.btn
		display inline-block
		padding 0 10px
		width auto
		font-size .8em
		margin-right 20px
		

		
