#block_help
	//- #ico
	//- 	include ../../../public/image/info_ico.svg

	#warp_txt_help
		.txt_help
			#txt_help_disk
				| #{TRANSLATION.help_disk[langage]}
			//- #txt_help_map
			//- 	| #{TRANSLATION.help_map[langage]}