#block_help
#ico
#warp_txt_help
#txt_help_disk
#txt_help_map
	position absolute
	
#block_help
	bottom $height_footer + 20px
	left 20px
	height 30px
	width 300px
	#ico
		left 0
		top 0
		width 30px
		height 30px

	#warp_txt_help
		left 40px
		height 100%
		font-size .62em
		font-weight 900
		overflow hidden
	
	#warp_txt_help
	#txt_help_disk
	#txt_help_map
		width 260px
	
	#txt_help_disk
	#txt_help_map
		vert_align_middle()
		left 0
	// #txt_help_map
	// 	transform rotateY(90deg)