#block_help
#ico
#warp_txt_help
#txt_help_disk
#txt_help_map
	position absolute
	
#block_help
	left 59%
	height 30px
	color #333333
	font-size 1em
	
	@media $mobile
		bottom 40px
		left 10px
	
	@media $ipad
		left 20px
		height 100%
		color $yellow
	
	#ico
		left 0
		top 0
		width 30px
		height 30px

	#warp_txt_help
		height 100%
		overflow hidden
		line-height 1em
		
	#warp_txt_help
	#txt_help_disk
	#txt_help_map
		width 300px
		font-size 1em
		margin 0
		padding 0
		font-weight 100
		
		@media $ipad
			width 300px
		@media $desktop
			width 700px
			height 40px
			left 0px
		
	#txt_help_disk
	#txt_help_map
		vert_align_middle()
		left 0
		height auto