#smallmap
	position absolute
	left 50%
	display none
	height auto	
	width 90%
	left 50%
	bottom 300px
	z-index 2

	@media $landscape
		width calc( 100% - 40px)
		display block
		svg .small-map-st2
			opacity 0
	
	@media $landscape_desktop
		width calc( 100% - 60px)
	

	@media $mobile_landscape
		display none
	
	@media $smallheight_map
		width 55%
			
	@media $too_smallheight_map
		display none