#smallmap
	position absolute
	left 50%
	display none
	height auto	
	width 90%
	left 50%
	bottom 300px

	@media $landscape
		width 80%
		display block
		svg .small-map-st2
			opacity 0
	
	@media $mobile_landscape
		display none
	
	@media $smallheight_map
		width 55%
			
	@media $too_smallheight_map
		display none