#smallmap
	transition opacity 1s
	position absolute
	top 185px
	align_middle()
	display none
	width 95%
	height auto
	
	@media $desktop
		width 80%

	@media $mobile_et_ipad
		bottom $height_footer + 10px
		width 190px
		left 10px
		
	@media $ipad
		display block
		svg .small-map-st2
			opacity 0