.size_disk.centered
	ul#artists_info_map.layer_0(data-ordre_pays= list_pays)
		- var current_contry = ''
		- var current_contry_array = []
		each video, index  in videos_by_contry
			if(current_contry == video.contry_nicename)
				- current_contry_array.push(video)
				- current_contry = video.contry_nicename
			else
				if current_contry_array.length
					include block_contry.pug
					
						
				- current_contry_array = []
				- current_contry_array.push(video)
				- current_contry = video.contry_nicename
				
			if (index == videos_by_contry.length-1)
				include block_contry.pug
					
	#big_map
		// include ../../cleansvg/map.svg