@media $ipad
	#artists_info_map .pastille
	#artists_info_map .contry_name
		&[data-nicename="djibouti"]
			left 38%
			top 47%
		&[data-nicename="france"]
			left 12%
			top 21%
		&[data-nicename="coree-du-sud"]
		&[data-nicename="south-korea"]
			left 88%
			top 25%
			border-bottom-right-radius 0
			border-bottom-left-radius 0
			&.pastille
				transform rotate(-30deg)
			&.contry_name
				margin-left -55px
				margin-top 25px

		&[data-nicename="japon"]
		&[data-nicename="japan"]
			left 92%
			top 32%
			border-top-left-radius 0
			border-top-right-radius 0
			&.pastille
				transform rotate(-30deg)
			&.contry_name
				margin-left -25px
				margin-top 5px
				
		&[data-nicename="cambodge"]
		&[data-nicename="cambodia"]
			left 81%
			top 46%
			border-bottom-left-radius 0
			border-top-left-radius 0
			&.pastille
				transform rotate(30deg)
			&.contry_name
				margin-left 6px
				margin-top 19px

		&[data-nicename="thailande"]
			left 73.5%
			top 43%
			border-bottom-right-radius 0
			border-top-right-radius 0
			&.pastille
				transform rotate(30deg)
			&.contry_name
				margin-left -26px
				margin-top 26px
			
		&[data-nicename="israel"]
			left 29%
			top 31%
			border-bottom-right-radius 0
			border-top-right-radius 0
			&.contry_name
				margin-left -7px

		&[data-nicename="palestine"]
			left 37%
			top 31%
			border-bottom-left-radius 0
			border-top-left-radius 0
			&.contry_name
				margin-left 11px
			
		&[data-nicename="malaisie"]
			left 76%
			top 52%
			&.contry_name
				margin-left -32px
				margin-top 10px
		
		&[data-nicename="pakistan"]
			left 56%
			top 38%
			
			&.contry_name
				margin-top 14px
		
		&[data-nicename="maroc"]
			left 7%
			top 31%
			
		&[data-nicename="philippines"]
			left 88%
			top 43%	
			&.contry_name
				margin-left -47px
				margin-top 15px
				
		&[data-nicename="indonesie"]
			left 83%
			top 54.5%
			
			&.contry_name
				margin-left 28px
			
		&[data-nicename="guinee-conakry"]
			left 1%
			top 48%
			border-top-left-radius 0
			border-top-right-radius 0
			
			&.contry_name
				margin-left 0
				width 50px
				margin-top 15px
			
		&[data-nicename="senegal"]
			left 1%
			top 40%
			border-bottom-left-radius 0
			border-bottom-right-radius 0
			&.contry_name
				margin-top 25px
			
		&[data-nicename="cote-divoire"]
			left 7%
			top 50.5%
			border-top-left-radius 0
			border-top-right-radius 0
			&.pastille
				transform rotate(36deg)
			
			&.contry_name
				margin-top 6px
				margin-left 30px
			
		&[data-nicename="burkina-faso"]
			left 12%
			top 44%
			border-bottom-left-radius 0
			border-bottom-right-radius 0
			&.pastille
				transform rotate(36deg)
				
			&.contry_name
				margin-top 21px
				margin-left 24px
			
		
	#artists_info_map 
		width 100%
		height 100%
		margin 0
		padding 0
				
		.block_contry
			opacity 0
			z-index 0
			&.opacity_1
				z-index 3
				opacity 1

			&:after
				position absolute
				content ''
				width 20px
				height 20px
				triangle(10px, 10px, 'bottom',#000)
				bottom -10px

			&.burkina-faso
				left 0%
				top 37%
				&:after
					left 38%
			&.cambodge
			&.cambodia
				left 51.5%
				top 38.5%
				&:after
					left 59%
			
			&.coree-du-sud
			&.south-korea
				left 60%
				top 14%
				&:after
					right 29px
			
			&.cote-divoire
			&.ivory-coast
				left 0%
				top 40%
				&:after
					left 38%
			
			&.djibouti
				left 30%
				top 38%
				&:after
					left 34%
			
			&.france
				left 0
				top 0
				width 247px
				&:after
					left 31%
			
			&.guinee-conakry
				left 0
				top 33%
				width 187px
				&:after
					left 12%
			
			&.indonesia
			&.indonesie
				left 67.5%
				top 46%
				&:after
					left 58%
					
			&.israel
				left 20%
				top 18%
				width 195px
				&:after
					left 36%
					
			&.japon
				left 70%
				top 21%
				&:after
					right 10px

			&.malaisie
			&.malaysia
				left 67%
				top 39%
				width 172px
				&:after
					left 33%
				
			&.maroc
			&.morocco
				left 0
				top 19%
				width 390px
				&:after
					left 13%
					
			&.pakistan
				left 48%
				top 25%
				width 160px
				&:after
					left 32%
					
			&.palestine
				left 27%
				top 23%
				&:after
					left 34%
					
			&.philippines
				left 68.5%
				top 34%
				.pastille
					left 65%
				&:after
					left 72%
				
			&.senegal
				left 0
				top 29%
				width 187px
				.pastille
					left 6%
				&:after
					left 11%
					
			&.thailande
				left 23.5%
				top 37%
				
				&:after
					right 8%