.map
	svg
		width 100%
		height 100%
	
#artists_info_map
	position absolute
	.pastille
		display block
		position absolute
		width 40px
		height 40px
		border-radius 50%
		bottom -30px
		opacity 0
		z-index 2
		background red
		&.big
			z-index 1
			width 100%
			height 100%
			left 0
			top 0
			border-radius 50%
			background green
	.block_contry
		background #000
		color #fff
		font-size .8em
		padding 10px
		list-style-type none
		// display none
		width auto
		position absolute
		opacity 0
		a.watch
			color #fff
			margin-left 20px
			span
				display inline-block
				
		.bio
			margin-left 20px
			span
				display inline-block
			
		.name
			color $yellow
		
		.artist
		.name
		a.watch
		.bio
		.contry
			position relative
			display inline-block
			
		.contry
			width auto
			display block