ul#list_artists.layer_0
	each video in videos
		each meta in video.postmeta
			if meta.meta_key == 'video'
				- var youtube_link = meta.meta_value
				li
					a(href=youtube_link)
						span.dot
						span.txt= video.title
				