ul#list_artists.layer_0
	each it in channel.item
		if it.post_type == 'videos'
			each meta in it.postmeta
				if meta.meta_key == 'video'
					- var youtube_link = meta.meta_value
					li
						a(href=youtube_link)= it.title
					