#list_artists
	on-circle(28, $size_name_circle_small, 10px)
	width 0
	height 0	
	@media $mobile_landscape
		on-circle(28, 80vh, 10px)
		
	@media $ipad	
		on-circle(28, $size_name_circle_medium, 80px)
		width 0
		height 0
		> *:nth-of-type(3)
			padding-left 80px
		> *:nth-of-type(5)
			padding-left 60px
		> *:nth-of-type(7)
			padding-left 38px
		> *:nth-of-type(12)
			width 100px
		> *:nth-of-type(21)
			margin-left -60px
		> *:nth-of-type(22)
			margin-left -55px
		> *:nth-of-type(23)
			margin-left -60px
		> *:nth-of-type(25)
			margin-left -80px
			width 100px
		
	@media $desktop_only
		> *:nth-of-type(3)
			width 180px
		> *:nth-of-type(10)
			width 110px
			padding-left 20px
		> *:nth-of-type(21)
			width 200px
			margin-left -165px
		> *:nth-of-type(23)
			width 130px
			margin-left -108px
			

	@media $large_screen
		on-circle(28, $size_name_circle_large, 80px)
		width 0
		height 0

	li a
		bottom 0
		font-size .65em
		color #000
		position absolute
		top 0
		width 100%
		align_middle()
		font-weight 700
		&:hover
		&.selected
			font-weight 900
			color #000
			
		span.dot
			display none
		span.txt
			display inline-block
			line-height 1.1em
			
		.warp_contry
			display none	
			font-size 1em
			font-weight 500
			opacity 0
			transition opacity .5s ease
			@media $ipad
				display block
	
		&:hover
		&.selected	
			.warp_contry
				opacity 1

		@media $mobile
			span.txt
				display none
			span.dot
				background $grey
				display block
				width 4px
				height 4px
				border-radius 50%