#list_artists
	on-circle(28, $size_name_circle_small, 10px)	
	@media $ipad	
		on-circle(28, $size_name_circle_medium, 125px)
		> *:nth-of-type(2)
		> *:nth-of-type(5)
		> *:nth-of-type(7)
		> *:nth-of-type(10)
			padding-left 30px
		> *:nth-of-type(28)
		> *:nth-of-type(25)
			margin-left -90px
		> *:nth-of-type(21)
		> *:nth-of-type(22)
		> *:nth-of-type(23)
			margin-left -75px
		> *:nth-of-type(3)
			width 200px
	@media $large_screen
		on-circle(28, $size_name_circle_large, 125px)
	

	li a
		bottom 0
		// center()
		font-size .75em
		&.selected
			font-weight 900
		span.dot
			display none
		span.txt
			display inline-block
			line-height 1.1em
			
			
		@media $mobile

			span.txt
				display none
			span.dot
				background #000
				display block
				width 7px
				height 7px
				border-radius 50%