.footer.layer_top
	ul#mode_switcher
		li
			a(href='#contrys' data-face='face_pays') Face Pays
		li
			a(href='#artists' data-face='face_artistes') Face Artistes


	ul#infos
		li
			a(href='#apropos') &agrave; propos
		li
			a(href='#help') aide
		li
			span#sound
				include ../../image/unmute.svg
		li
			#fullscreen
		li
			#share