.footer
	background #191919
	height $height_footer
	width 100%
	bottom 0
	position absolute
	color #989898
	font-size .7em

	.unmute-st0
		fill #989898

	.warp_ul_footer
		width 100%
		text-align right
	ul 
		margin 0
		padding 0
		display inline-block
		
		&#right-ul
			right 0
			text-align right
			position absolute

		&#left-ul
			position absolute
			left 5px
			
				
		@media $landscape
			&#right-ul
			&#left-ul
				position relative
				left auto
				right auto

		li
			display inline-block
			line-height $height_footer
			position relative
			font-weight 100
			color #989898
			padding 0 5px
			@media $landscape
				padding 0
			
			@media $landscape
				&.seperateur
					padding-right 11px
					&:after
						pseudo_full(#989898, 1, 1px, 6px)
						vert_align_middle()
						left auto
						right 1px

			a
				line-height $height_footer
				padding 0
				@media $landscape
					padding 0 2px
				
				@media $landscape_desktop
					padding 0 10px
				
				height 100%
				display block
				color #989898
				&:hover
					color $light-grey
			
				span.txt
					top 1px
					position relative
			span
				display block
				@media $landscape
					padding 0 2px
				
				@media $landscape_desktop
					padding 0 10px
				
			#sound
			.myfullscreen
				@media $landscape
					padding 0 10px
				
		
		&#mode_switcher li a		
			background $dark-grey
			&.selected
			&:hover
				color #989898
				background $yellow
							
	img
	svg
		width 13px
		height 13px
		display inline-block
		overflow visible
		top 0
		position relative
		
	#share
		padding 0 10px 0 0
		span
			padding 0 10px
		
		@media $landscape
			padding 0 10px 0 5px	
		svg
			top -1px
			position relative
		.txt
			display none
			@media $landscape
				display inline-block


#boutique_btn 
	svg
	span
		display inline-block

#sound
.myfullscreen
	width 15px
	height 40px
	display block
	margin 0
	cursor pointer
	z-index 101
	
	img
	svg
		width 15px
		height 15px			
		#lign
			display none
	&.actif
		img
		svg #lign
			display block
			

.device-ios 
	.myfullscreen
	.myfullscreen.actif
	.myfullscreen.actiffullscreen
		display none


.myfullscreen
	#fsactif
		display none
	&.actiffullscreen
		#fs
			display none
		#fsactif
			display block
		
		// @media $mobile_et_ipad
		// 	display none