.footer
	background #191919
	height $height_footer
	width 100%
	bottom 0
	position absolute
	color #989898
	font-size .7em

	ul 
		margin 0
		padding 0
		display inline-block
		
		li
			display inline-block
			line-height $height_footer
			position relative
			font-weight 100
			color #989898
			
			@media $ipad
				&.seperateur:after
					pseudo_full(#FFFFFF, 1, 50%, 1px)
					vert_align_middle()
					left auto
					right 1px

			a
				line-height $height_footer
				padding 0 5px
				@media $ipad
					padding 0 30px
				height 100%
				display block
				color #989898
				&:hover
					color $light-grey
			
			span
				display block
				padding 0 30px
				
		
		&#mode_switcher li a		
			background $dark-grey
			&.selected
			&:hover
				color #989898
				background $yellow
		
		&#infos
			position absolute
			left 5px
			li a
				padding 0 5px
			@media $ipad
				right 0 
				left auto 
				padding 0 10px
			li span 
				padding 0 3px
				@media $ipad
					padding 0 10px
						
	#share
		svg
			width 13px
			height 13px

	#sound
	#fullscreen
		width 15px
		height 40px
		display block
		margin 0
		cursor pointer
		svg
			width 15px
			height 15px			
			#lign
				display none
		&.actif
			svg #lign
				display block
				
	#fullscreen
		#fsactif
			display none
		&.actiffullscreen
			#fs
				display none
			#fsactif
				display block
			
		@media $mobile_et_ipad
			display none