.skip_intro
	position absolute
	bottom 50px
	background $yellow
	visibility hidden
	position absolute 
	z-index 102
	align_middle()
	@media $landscape
		bottom 2px
	
.video-container
	height 0
	width 100%
	max-width 178vh
	center()
	padding-bottom 56.25%
	
	&.quatre_tier
		padding-bottom 70%
			