.header
	h1
		if langage == 'fr'
			a(href='http://www.wespeakhiphop.fr' title='www.wespeakhiphop.fr').logoWSH.logo
				include ../../../public/image/logo.svg
		else
			a(href='http://wespeakhiphop.com' title='www.wespeakhiphop.com').logoWSH.logo
				include ../../../public/image/logo-en.svg


	span.lign_header
