.header
	h1
		if langage == 'fr'
			a(href='http://wespeakhiphop.fr').logoWSH.logo
				include ../../../public/image/logo.svg
		else
			a(href='http://wespeakhiphop.com').logoWSH.logo
				include ../../../public/image/logo.svg


	span.lign_header
