.header
	h1
		if langage == 'fr'
			a(href='http://wespeakhiphop.fr').logoWSH
				include ../../../public/image/logo.svg
		else
			a(href='http://wespeakhiphop.com').logoWSH
				include ../../../public/image/logo.svg