.header
	@media $mobile_et_ipad
		transition background-color 2s 
		width 100%
		position absolute 
		background $yellow
		
		.hidefooter &
			background-color #000000
		
	@media $mobile
		height $height_header_info_mobile
			
	@media $ipad
		height $height_header_info_ipad
		
	@media $desktop
		z-index 1
		width auto
		display block
		position relative
		width 100%
		
.logoWSH
	left 10px
	top 10px
	position relative
	
	@media $mobile_et_ipad
		vert_align_middle()
		visibility hidden
		.hidefooter & 
			visibility visible
			svg
				width auto
	
	@media $mobile
		left 20px
		vert_align_middle()
			top 0
			left 0
			width 100%
			height $height_header_info_mobile
			position fixed
			transform none
			svg
				vert_align_middle()
				left 20px
		
		svg
			height $height_header_info_mobile * .5

	@media $ipad
		left 30px
		vert_align_middle()
			top 0
			left 0
			width 100%
			height $height_header_info_ipad
			position fixed
			transform none
			svg
				vert_align_middle()
				left 30px
		svg
			height $height_header_info_ipad * .5
	
	@media $desktop
		center()
		svg
			width 200px
			height auto		