.header
	@media $mobile_et_ipad
		transition background-color 2s 
		width 100%
		position absolute 
		background $yellow
		
	@media $mobile
		height $height_header_info_mobile
			
	@media $ipad
		height $height_header_info_ipad
		
	@media $desktop
		z-index 1
		width auto
		display block
		position relative
		width 100%
		
h1
	display block
	width 30%
	height 100%
	padding 0
	margin 0 2%
	position relative
	@media $desktop
		align_middle()
		top 10px
		width calc( 100% - 50px)
		

.logoWSH
	height 100%
	width auto
	display block
	svg
		width auto
		height 100%
		center()
	@media $mobile_et_ipad
		visibility hidden
		.hidefooter & 
			visibility visible

		svg
			width 100%
	

span.lign_header
	display block
	width 1px
	height 80px 
	background $light-yellow 
	position absolute
	vert_align_middle()
	left 33%
	@media $desktop
		display none