extends layout.pug

block data
	- var pageTitle = "Pudome"
	- var langage = "en"
	- var pageurl = "http://wespeakhiphop.com"
	- var mailbody = "We%20speak%20Hiphop&body=Discover%20Wespeakhiphop%20it's%20great%20!%20%3A%20http%3A%2F%2Fwespeakhiphop.com"
	- var txttwitter = "We speak HipHop !! "