extends layout.pug

block data
	- var pageTitle = "Pudome"
	- var langage = "fr"
	- var pageurl = "http://wespeakhiphop.fr"
	- var mailbody = "We%20speak%20Hiphop&body=D%C3%A9couvre%20Wespeakhiphop%20c'est%20top%20!%20%3A%20http%3A%2F%2Fwespeakhiphop.fr"
	- var txttwitter = "We speak HipHop !! "