extends layout.pug

block data
	- var pageTitle = "Pudome"
	- var langage = "fr"
	- var pageurl = "http://wespeakhiphop.fr"
	- var txtbody = "Découvrez \"We Speak Hip-Hop\", 45 ans après la naissance du Hip-Hop, partez à la rencontre des héritiers du Bronx. 1 disque, 28 voyages. Asie, Afrique, Europe, Moyen-Orient, faites scratcher votre souris. Une série documentaire interactive de Vina Hiridjee et David Boisseaux-Chical."
	- var mailbody = "We%20speak%20Hiphop&body="+txtbody+"%20%3A%20http%3A%2F%2Fwespeakhiphop.fr"
	- var txttwitter = "Découvrez “We Speak Hip-Hop », 45 ans après la naissance du Hip-Hop, partez à la rencontre des héritiers du Bronx. 1 disque, 28 voyages. Asie, Afrique, Europe, Moyen-Orient, faites scratcher votre souris. Une série documentaire interactive de Vina Hiridjee et David Boisseaux-Chical."