extends layout.pug

block data
	- var pageTitle = "Pudome"
	- var langage = "en"
	- var pageurl = "http://wespeakhiphop.com"
	- var txtbody = "Découvrez \"We Speak Hip-Hop\", 45 ans après la naissance du Hip-Hop, partez à la rencontre des héritiers du Bronx. 1"
	- var mailbody = "We%20speak%20Hiphop&body="+txtbody+"%20%3A%20http%3A%2F%2Fwespeakhiphop.com"
	- var txttwitter = "45 years after the birth of Hip Hop, discover the heirs of the Bronx. 1 disc, 28 journeys. Asia, Africa, Europe, Middle East, make your mouse spin. A documentary series by Vina Hiridjee and David Boisseaux-Chical"