block data

- var all_videos = []
each it in WSH.channel.item
	if it.post_type == 'videos'
		- all_videos.push(it) 

- var videos = []
each video in all_videos
	if video.category
		each cat in video.category
			if cat.nicename == langage
				- videos.push(video) 

- var videos_by_contry = []
each video, id in videos
	each cat in video.category
		if cat.domain == 'pays'
			- video.contry_nicename = cat['nicename']
			- video.sound_id = video.menu_order
			- video.contry = cat['#text']
			- videos_by_contry.push(video)

- videos.sort(function(a, b) {return a.menu_order - b.menu_order;})

- videos_by_contry.sort(function(a, b){ if(a.contry_nicename < b.contry_nicename) return -1; if(a.contry_nicename > b.contry_nicename) return 1; return 0; })

- assets_adress = 'https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/'
// - assets_adress =  'http://videotest:8888/js/'
- js_adress =  (assets_adress == 'http://videotest:8888/js/') ? 'js/' : assets_adress
- videojs_folder =  (assets_adress == 'http://videotest:8888/js/') ? 'http://videotest:8888/js/' : 'https://vjs.zencdn.net/7.1.0/'



doctype html
html(lang= langage) 
	head
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="descrition" content="We speak Hiphop est un site etc.")
		meta(name="author" content="David Boisseaux & Vina Hiridjee")
		meta(property="og:title" content="We Speak Hiphop")
		meta(property="og:description" content="We speak Hiphop est un site etc.")
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="We Speak Hiphop")
		meta(charset='utf-8')
		//- meta(property="og:url" content="<?php echo \"http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]\"; ?>")
		//- meta(name="og:image" property="og:image" content="<?php echo $og_img; ?>")
		//- meta( property="device_type" content="<?php echo get_device_type(); ?>")

		title We Speak Hiphop

		link(rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon" )
		link(rel="apple-touch-icon-precomposed" sizes="152x152" href="ico/images/favico/favicon-152.png")
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/images/favico/favicon-144.png")
		link(rel="apple-touch-icon-precomposed" sizes="120x120" href="ico/images/favico/favicon-120.png")
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/images/favico/favicon-114.png")
		link(rel="apple-touch-icon-precomposed" sizes="72x72"   href="ico/images/favico/favicon-72.png")
		link(rel="apple-touch-icon-precomposed"                 href="ico/images/favico/favicon-57.png")

		link(type="text/css" rel="stylesheet" href="css/style.css")

		link(href= videojs_folder+"video-js.css" rel="stylesheet")

		// script(src= "https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
		// script(src= "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/utils/Draggable.min.js")
		// script(src= "https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/DrawSVGPlugin.min.js")
		// script(src="https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/ThrowPropsPlugin.min.js")
		// script(src= 'https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.14/howler.core.min.js')

		script(src= assets_adress+"vendor/vendor.js")
		script(src= videojs_folder+'video.js')
		script
			| document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';

	body
		include ../module/block_header/index.pug	

		#mask_shield.absolute.layer_top.full_height.full_width
		#main.absolute.full_height_minus_footer.full_width.full_height_minus_footer_minus_header_mobile
			.lds-dual-ring
		
			include ../module/block_popin/index.pug
			#facea.absolute.centered.layer_2.full_height.full_width.size_disk
				include ../module/block_list_artists/index.pug
				include ../module/block_video_disk/index.pug
			#faceb.absolute.centered.layer_2.full_height.full_width.size_disk
				include ../module/block_pays/index.pug

			#bg
			//- #face_artistes.absolute.centered.layer_2.full_height.full_width.overflow_hidden
			//- 	include ../module/block_list_artists/index.pug
			//- 	include ../module/block_video_disk/index.pug
			//- #face_pays.absolute.centered.layer_2.full_height.full_width
			//- 	include ../module/block_pays/index.pug

			#platine.absolute.centered.layer_0.full_height.full_width.size_platine
				include ../cleansvg/platine.svg
		
		include ../module/block_small_map/index.pug
		include ../module/block_info_artists/index.pug
		include ../module/block_footer/index.pug

	//- script(src=js_adress+'vendor/vendor.js')
	script(src=js_adress+'base.js')
