#artists_info
	display block
	position absolute
	list-style none
	margin 0
	padding 0
	right 20px
	transition opacity 1s
	overflow hidden

	li
		position absolute
		top 0
		left 0
		overflow hidden
		
		.warper
			opacity 0
		
		span
			display block
			width 100%
		
		.name
		.date
		.tagline
		.contry
			line-height .9em

		.date
		.contry
		.tagline
			font-family $ft-family-secondary
		
		.name
			font-family $ft-family-primary
			text-transform uppercase
			line-height 1em
			font-weight 900
		
		.name
		.date
			color $yellow
			
		.date
		.contry
			font-size 3em
		
		.name
			font-size 2.5em
		
		.tagline
			font-size 4em
		
		.date
		.contry
			font-weight 100
			display inline-block
			width auto
			
			&.contry
				padding-right 10px
	
	@media $mobile_et_ipad
		top O
		bottom auto
		li
			border-left 2px solid $light-yellow
			padding-left 20px
			vert_align_middle()
			.name
			.date
				color $light-yellow
			
			.tagline
				color #000
		
			
	@media $mobile
		height $height_header_info_mobile
		width calc( 100% - 120px )
		li
			.name
				font-size .6em
				padding 3px 0
			
			.tagline
			.contry
			.date
				font-size 1.6em
			
	@media $ipad
		height $height_header_info_ipad
		width calc( 100% - 204px )
		li
			.name
				font-size 1.5em
				padding 10px 0
			
			.tagline
			.date
			.contry
				font-size 2.7em
				
	@media $desktop
		height 250px
		width 250px
		bottom $height_footer*2
		li
			bottom 0
			width 100%
			.warper
				height auto
				position absolute
				bottom 0
				width 100%