#artists_info
	display block
	position absolute
	list-style none
	margin 0
	padding 0
	right 0px
	overflow hidden
	height 100%
	top 0
	bottom auto
	height $height_header_info_mobile
	width 66%

	li
		position absolute
		top 0
		left 0
		overflow hidden
		color #ffffff
		z-index -1
		padding 0 10px
		vert_align_middle()
		font-size .72em
		height 100%
		width calc( 100% - 20px)
		
		@media $large_portrait
			font-size 1.5em
		
		@media $landscape
			width  100%
			font-size 1.5em
		// @media $landscape_desktop
		// 	font-size 1.8em
		
		&.ontop
			z-index 2
			
		.warper
			opacity 0
			vert_align_middle()
			width calc(100% - 20px)
		
		span
			display block
			width 100%
		
		h3.name
			padding 0
			margin 3px 0
			@media $landscape
				margin 7px 0
			
		.date
		.contry
		.tagline
			font-family $ft-family-secondary
		
		.name
			font-family $ft-family-primary
			text-transform uppercase
			line-height 1em
			font-weight 900
		
		.name
		.date
		.tagline
		.contry
			line-height .9em
			color #000
		
		.tagline
		.date
			color $light-yellow
			
		
		.contry
		.date
			font-size 2em
			
		.tagline
			font-size 1.5em
			
		.contry
		.date
			letter-spacing -1px
			
		q
			// font-style italic
			&:after
			&:before
				font-family $ft-family-primary
					
		.warp_contry_date
			display inline-block		
		
		.date
			padding-right 10px

		.date
		.contry
			font-weight 100
			display inline-block
			width auto
			
			&.contry
				padding-right 5px
				
		#about-btn
			background #333333
			color #fff
			// font-size .5em
			margin 5px 0 0 0
			padding 0 10px
			display inline-block
			top -5px
			position relative
			
			@media $landscape
				font-size .6em
				margin 0px 20px
				margin 10px 0
				padding 0 15px
				display block
				// background $yellow
				// color #333333
	
	@media $landscape
		height 285px
		width 100%
		bottom 0
		top auto
		left 0px
		background #010101
		
		li
			bottom 0
			width calc( 100% - 40px)
			margin 0 20px
			padding 0
			.warper
				height auto
				center()
				width 100%
				
				.tagline
				.contry
					color $yellow
				.date
				.name
					color #ffffff
				
				.warp_contry_date
					display inline-block
					width 100%

				#about-btn
					display inline-block
					
	@media $landscape_desktop
		li
			width calc( 100% - 60px)
			margin 0 30px
	
	@media $mobile_landscape
		height 185px
		li
			font-size .8em
			height 100%
	
	