$size_disk_small = 250px
$size_disk_medium = 500px
$size_disk_large = 800px
$size_name_circle_small = 300px
$size_name_circle_medium = 590px
$size_name_circle_large = 940px
$size_video_small = 100px
$size_video_medium = 200px
$size_video_large = 400px


$height_footer = 40px
$height_header_info_mobile = 80px
$height_header_info_ipad = 160px

$epaiseur_platine = 40px
