$size_disk_small = 300px
$size_disk_medium = 500px
$size_disk_large = 800px
$size_name_circle_small = 310px
$size_name_circle_medium = 590px
$size_name_circle_large = 940px
$size_video_small = 190px
$size_video_medium = 220px
$size_video_large = 400px

$size_platine_small = 310px

$height_footer = 40px
$height_header_info_mobile = 20vh
$height_header_info_ipad = 160px

$epaiseur_platine = 35px
