$size_disk_smaller = 80vw
$size_disk_small = 55vh
$size_disk_medium = 62vh
$size_disk_large = 73vh

$size_ligndisk_smaller = 78vw
$size_ligndisk_small = 53vh
$size_ligndisk_medium = 60vh
$size_ligndisk_large = 71vh

$size_name_circle_smaller = 90vw
$size_name_circle_small = 62vh
$size_name_circle_medium = 75vh
$size_name_circle_large = 86vh

$size_video_smaller = 150px
$size_video_small = 220px
$size_video_medium = 220px
$size_video_large = 400px

$size_platine_smaller = 85vw
$size_platine_small = 60vh
$size_platine_medium = 68vh
$size_platine_large = 79vh

$height_footer = 40px
$height_header_info_mobile = 20vh
$height_header_info_ipad = 160px

$epaiseur_platine = 35px
