@keyframes Animation-slideInRight {
	0% {
		opacity 0
		// transform translateY(10rem)
		top 30px
	}

	100% {
		opacity 1
		// transform translateY(0)
		top 0px
	}
}

@keyframes Animation-slideInLeft {
	0% {
		opacity 0
		// transform translateY(-10rem)
		top -30px
	}

	100% {
		opacity 1
		// transform translateY(0)
		top 0px
	}
}

.js-Pjax-remove
	position absolute
	// left 50%

.Animated
	animation-fill-mode both
	animation-duration $duration-2
	animation-delay $duration-1
	opacity 0

.Animated--reverse
	animation-direction reverse

.Animate--fast
	animation-duration $duration-1

.Animate--noDelay
	animation-delay 0s !important

.Animate--slideInRight
	animation-name Animation-slideInRight

.Animate--slideInLeft
	animation-name Animation-slideInLeft