body
	width 100%
	margin 0 auto
	padding 0px
	background-color $light-yellow
	#main
		background $light-yellow
		background-color $light-yellow
		// background url('https://s3.eu-west-3.amazonaws.com/wespeakhiphop-assets/bg.jpg') no-repeat center center fixed
		// -webkit-background-size cover
		// -moz-background-size cover
		// -o-background-size cover
		// background-size cover
		
		@media $desktop
			width calc(100% - 300px)
			margin-left 300px