.cssa 
	position fixed
	top 100px
	left 0px
	z-index 99999
	a 
		width 125px
		height 125px
		text-indent -9999px
		display block
		background url('https://www.cssawards.net/ribbons/brand-award-left.png') no-repeat
