// .video-container
// 	position relative
// 	padding-bottom 56.25%
// 	padding-top 30px
// 	height 0
// 	overflow hidden

// .video-container iframe, .video-container object, .video-container embed
// 	width 100vw
// 	height 56.25vw
// 	background #000000
// 	max-height calc( 100vh - 40px ) 
// 	max-width 160vh
// 	margin auto
// 	position absolute
// 	top 0
// 	bottom 0
// 	left 0
// 	right 0
	
// 	body.hidefooter &
// 		max-height 100vh 
// 		