@font-face
	font-family Gotham
	font-style normal
	font-weight normal
	src url(https://d25xbwtykg1lvk.cloudfront.net/Gotham-Book.woff2) format("woff2"), url(https://d25xbwtykg1lvk.cloudfront.net/Gotham-Book.woff) format("woff")
	
@font-face
	font-family Gotham
	font-style normal
	font-weight 700
	src url(https://d25xbwtykg1lvk.cloudfront.net/Gotham-Bold.woff2) format("woff2"), url(https://d25xbwtykg1lvk.cloudfront.net/Gotham-Bold.woff) format("woff")

@font-face
	font-family Gotham
	font-style normal
	font-weight 900
	src url(https://d25xbwtykg1lvk.cloudfront.net/Gotham-Black.woff2) format("woff2"), url(https://d25xbwtykg1lvk.cloudfront.net/Gotham-Black.woff) format("woff")
		
@font-face
	font-family Gotham
	font-style normal
	font-weight 100
	src url(https://d25xbwtykg1lvk.cloudfront.net/Gotham-Light.woff2) format("woff2"), url(https://d25xbwtykg1lvk.cloudfront.net/Gotham-Light.woff) format("woff")

@font-face
	font-family Knockout
	font-style normal
	font-weight normal
	src url(https://d25xbwtykg1lvk.cloudfront.net/Knockout-HTF70-FullWelterwt.woff2) format("woff2"), url(https://d25xbwtykg1lvk.cloudfront.net/Knockout-HTF70-FullWelterwt.woff) format("woff")

@font-face
	font-family Knockout
	font-style normal
	font-weight 100
	src url(https://d25xbwtykg1lvk.cloudfront.net/Knockout-HTF28-JuniorFeatherwt.woff2) format("woff2"), url(https://d25xbwtykg1lvk.cloudfront.net/Knockout-HTF28-JuniorFeatherwt.woff) format("woff")

@font-face
	font-family Knockout
	font-style normal
	font-weight 700
	src url(https://d25xbwtykg1lvk.cloudfront.net/Knockout-HTF68-FF-Regular.woff2) format("woff2"), url(https://d25xbwtykg1lvk.cloudfront.net/Knockout-HTF68-FF-Regular.woff) format("woff")
