@font-face
	font-family 'Gotham'
	src: url('wespeakhiphop/fonts/roboto/Gotham-Book.woff2') format('woff2'), url('wespeakhiphop/fonts/roboto/Gotham-Book.woff') format('woff'),
    font-weight normal
	font-style normal
	
@font-face
	font-family 'Gotham'
	src: url('wespeakhiphop/fonts/roboto/Gotham-Bold.woff2') format('woff2'), url('wespeakhiphop/fonts/roboto/Gotham-Bold.woff') format('woff'),
    font-weight 700
	font-style normal	
	
@font-face
	font-family 'Gotham'
	src: url('wespeakhiphop/fonts/roboto/Gotham-Black.woff2') format('woff2'), url('wespeakhiphop/fonts/roboto/Gotham-Black.woff') format('woff'),
    font-weight 900
	font-style normal	
	
@font-face
	font-family 'Gotham'
	src: url('wespeakhiphop/fonts/roboto/Gotham-Light.woff2') format('woff2'), url('wespeakhiphop/fonts/roboto/Gotham-Light.woff') format('woff'),
    font-weight 100
	font-style normal

@font-face
	font-family 'Gotham'
	src: url('wespeakhiphop/fonts/roboto/Gotham-Light.woff2') format('woff2'), url('wespeakhiphop/fonts/roboto/Gotham-Light.woff') format('woff'),
    font-weight 100
	font-style normal

@font-face
	font-family 'Knockout'
	src: url('wespeakhiphop/fonts/roboto/Knockout-HTF70-FullWelterwt.woff2') format('woff2'), url('wespeakhiphop/fonts/roboto/Knockout-HTF70-FullWelterwt.woff') format('woff'),
    font-weight normal
	font-style normal	

@font-face
	font-family 'Knockout'
	src: url('wespeakhiphop/fonts/roboto/Knockout-HTF28-JuniorFeatherwt.woff2') format('woff2'), url('wespeakhiphop/fonts/roboto/Knockout-HTF28-JuniorFeatherwt.woff') format('woff'),
    font-weight 100
	font-style normal	
	