@keyframes makeitgrow{
    0%{
        width 0%
        left 0%
    }
    50%{
        width 100%
        left 0%
    }
    100%{
        width 100%
        left 100%
    }
}

@keyframes spin {
	0% {
		transform rotate(0deg)
	}
	100% {
		transform rotate(3600deg)
	}
}

.loader-bar
	height 0px
	width 100%
	transition $tn-primary
	position relative
	background #fff
	overflow hidden
	
	&:before
		pseudo_full($red, 1, 100%, 0%)
		linear_gradient(left, $red, $dark-red)

	&:after
		pseudo_full(#fff, 1, 100%, 0%)
	
	&.show-progress
		height 2px
		&:before
			animation-duration 2s
			animation-iteration-count infinite
			animation-name makeitgrow