.full_width
	width 100%
	
.full_height
	height 100%

// .full_height_minus_footer
// 	height "calc(100% - %s)" % ($height_footer)
	
.full_height_minus_footer_minus_header_mobile
	transition height 0.5s ease-in-out 
	@media $mobile	
		top $height_header_info_mobile
		height "calc(100% - %s - %s)" % ($height_footer $height_header_info_mobile)
	@media $ipad	
		top $height_header_info_ipad
		height "calc(100% - %s - %s)" % ($height_footer $height_header_info_ipad)
	@media $desktop	
		top 0
		height "calc(100% - %s)" % ($height_footer)
		
	body.hidefooter &
		@media $mobile	
			top $height_header_info_mobile
			height "calc(100% - %s)" % ($height_header_info_mobile)
		@media $ipad	
			top $height_header_info_ipad
			height "calc(100% - %s)" % ( $height_header_info_ipad)
		@media $desktop	
			top 0
			height 100%
		

.max_width
	margin 0 $space-1
	
.layer_bottom
	z-index -1
	
.layer_0
	z-index 0
	
.layer_1
	z-index 1

.layer_2
	z-index 2
	
.layer_3
	z-index 3
		
.layer_4
	z-index 4
	
.layer_5
	z-index 5

.layer_top
	z-index 10

.overflow_hidden
	overflow hidden

.short_text
	@media $ipad
		display none !important
.long_text
	@media $mobile
		display none !important

.site
	position relative
	width 100%
	height 100%
	
#mask_shield
	background #000
	top 0
	left 0
	z-index 100
		
#facea
#faceb
	position absolute
	border-radius 50%
	left 50%
	top 50%
	transform translate(-50%,-50%)
	
#block_video_disk
	border-radius 50%
	
#mouse_over_bg
	opacity 0
	top 0
	left 0
	background red
	
.hidden
	visibility hidden