.full_width
	width 100%
	
.full_height
	height 100%

// .full_height_minus_footer
// 	height "calc(100% - %s)" % ($height_footer)
	
.full_height_minus_footer_minus_header_mobile
	@media $mobile	
		top $height_header_info_mobile
		height "calc(100% - %s - %s)" % ($height_footer $height_header_info_mobile)
	@media $ipad	
		top $height_header_info_ipad
		height "calc(100% - %s - %s)" % ($height_footer $height_header_info_ipad)
		
	@media $desktop	
		top 0
		height "calc(100% - %s)" % ($height_footer)
		

.max_width
	margin 0 $space-1
	
.layer_bottom
	z-index -1
	
.layer_0
	z-index 0
	
.layer_1
	z-index 1

.layer_2
	z-index 2
	
.layer_3
	z-index 3
		
.layer_4
	z-index 4
	
.layer_5
	z-index 5

.layer_top
	z-index 10

.overflow_hidden
	overflow hidden

.site
	position relative
	width 100%
	height 100%
	
@media $mobile-layout
	.max_width
		margin 0		

@media $desktop-layout
	.site-main
		position relative
		z-index 1
		
	